div{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    position: relative;
    animation-name: box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}
@keyframes box {
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 400px;
        left: 0px;
    }
    50%{
        top: 400px;
        left: 400px;
    }
    75%{
        top: 0px;
        left: 400px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}

/* 100/4 =25*/