div{
    /* width: 400px;   
    height: 400px; */
    font-size: 100px;
    font-family: cursive;
    text-align: center;
    width: fit-content;
    margin: 100px auto;
    background-image: url("https://i.pinimg.com/originals/1e/69/74/1e6974763c72dc62bc4195b88167f0a5.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: transparent;
    -webkit-background-clip: text;
}
body{
    background-color: black;
}